<div class="form-group">
    <label for="yearsExperience" class="col-sm-2 control-label">Years Experience:</label>
    <div class="col-sm-10">
        <label for="yearsExperience1" class="radio-inline">
            <input type="radio" name="yearsExperience" id="yearsExperience1" value="<3" ng-model="currentUser.yearsExperience">&lt;3
        </label>
        <label for="yearsExperience2" class="radio-inline">
            <input type="radio" name="yearsExperience" id="yearsExperience2" value="3-5" ng-model="currentUser.yearsExperience">3-5
        </label>
        <label for="yearsExperience3" class="radio-inline">
            <input type="radio" name="yearsExperience" id="yearsExperience3" value="6-9" ng-model="currentUser.yearsExperience">6-9
        </label>
        <label for="yearsExperience4" class="radio-inline">
            <input type="radio" name="yearsExperience" id="yearsExperience3" value="10" ng-model="currentUser.yearsExperience">10
        </label>
        <label for="yearsExperience5" class="radio-inline">
            <input type="radio" name="yearsExperience" id="yearsExperience3" value="15" ng-model="currentUser.yearsExperience">15
        </label>

        <label for="yearsExperience6" class="radio-inline">
            <input type="radio" name="yearsExperience" id="yearsExperience3" value=">20" ng-model="currentUser.yearsExperience">&gt;20
        </label>
    </div>
</div>
<div class="form-group">
    <label for="industry" class="col-sm-2 control-label">Industry:</label>
    <div class="col-sm-10">
        <input name="industry" type="text" class="form-control" id="industry" ng-model="currentUser.industry">
    </div>
</div>
<div class="form-group">
    <label for="skills" class="col-sm-2 control-label">Skills:</label>
    <div class="col-sm-10">
        <input name="skills" type="text" class="form-control" id="skills" ng-model="currentUser.skills">
    </div>
</div>
