<div class="row">
    <div class="col-sm-12">
        <em ui-sref="switcher">&#8592; back</em>
        <h3>share your expertise:</h3>
        <em>Is your profile still up&ndash;to&ndash;date?</em>
        <form class="form-horizontal">
        <div ng-include="'/views/_shared-switch-elements.html'"></div>
        <div class="form-group">
            <label for="knownTopics" class="col-sm-2 control-label">Topics:</label>
            <div class="col-sm-10">
                <label ng-repeat="topic in topics" for="knownTopics$index" class="checkbox-inline">
                    <input type="checkbox" name="knownTopics" id="knownTopics1" checklist-model="user.knownTopics" checklist-value="topic">{{topic}}<br>
                </label>
            </div>
        </div>
        <button type="button" class="btn btn-submit" ui-sref="mentor-list">mentor now &raquo;</button>
        </form>
    </div>
</div>
