<div class="people-card">
    <div class="row">
        <div class="media">
            <img src="/images/avatar.png" alt="" class="media-object pull-left">
            <h4 class="pull-q">Q</h4>
            <div class="media-body">
                <h4 class="media-heading" ng-bind="user.displayName"></h4>
                <p ng-bind="user.about"></p>
            </div>
        </div>
    </div>
    <div class="row second-row">
        <div class="col-xs-3 likes button">
            16
        </div>
        <div class="col-xs-3 comments button">
            16
        </div>
        <div class="col-xs-6 chat button">
            chat now <i class="fa fa-angle-right"></i>
        </div>
    </div>
</div>
