@import "bootstrap/bootstrap.less";
@import "font-awesome/font-awesome.less";
@import (inline) "normalize-opentype.css";

* {
    -webkit-font-smoothing: antialiased;
}

body {
    margin-bottom: 40px;
}

.btn-submit {
    background-color: @dark-gray;
    color: @yellow;
    font-family: @font-family-serif;
}

.profile-page {
    background-color: @light-gray;

    label {
        color: white;
    }
}

.logged-out {
    background-color: @dark-gray;

    .background-image {
        background-image: url(/images/homscreen_bkgd_trans-01.png);
        background-size: 745px 541px;
        background-repeat: no-repeat;
        background-position: center;
        height: 541px;
    }

    .login-button {
        text-align: center;
        padding: 20px;
        color: white;
        background-color: @twitter-blue;
        width: 100%;
        display: block;
        position: relative;
        top: 375px;
        line-height: 1;

        h3 {
            margin: 0;
        }
    }

    margin-bottom: 0;
}

.switcher {
    background: #65aa9d; /* Old browsers */
    background: -moz-linear-gradient(left,  #65aa9d 0%, #65aa9d 50%, #7ac0b4 50.1%, #7ac0b4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#65aa9d), color-stop(50%,#65aa9d), color-stop(50.1%,#7ac0b4), color-stop(100%,#7ac0b4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #65aa9d 0%,#65aa9d 50%,#7ac0b4 50.1%,#7ac0b4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #65aa9d 0%,#65aa9d 50%,#7ac0b4 50.1%,#7ac0b4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #65aa9d 0%,#65aa9d 50%,#7ac0b4 50.1%,#7ac0b4 100%); /* IE10+ */
    background: linear-gradient(to right,  #65aa9d 0%,#65aa9d 50%,#7ac0b4 50.1%,#7ac0b4 100%); /* W3C */


    .avatar {
        max-width: 150px;
        width: 60%;
        border-radius: 100%;
    }

    .switch-pane {
        text-align: center;
        position: absolute;
        top: 73px;
        bottom: 0;
    }

    .left-pane {
        left: 0;
    }

    .right-pane {
        right: 0;
    }
}

.mentor, .ask {
    background-color: @teal;
}


.match-list {
    background-color: @light-gray;
}

.profile-card {
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
    img {
        width: 60px;
        border-radius: 100%;
        margin-right: 40px;
        margin-bottom: 10px;
    }

    .sub-head {
        color: @teal;
    }

    .row {
        margin: 0;
    }

    .second-row {
        margin-left: -20px;
        margin-right: -20px;
    }

    color: @dark-gray;

    .button {
        padding: 5px;
        margin-bottom: 10px;
    }

    .likes {
        background-color: @pink;
        color: @yellow;
    }

    .comments {
        background-color: @teal;
        color: @pink;
    }

    .chat {
        background-color: @dark-gray;
        color: @yellow;
        font-family: @font-family-serif;
        text-align: right;
    }
}

.people-card {
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: white;
    img.pull-left {
        width: 60px;
        border-radius: 100%;
        margin-right: 40px;
        margin-bottom: 10px;
    }

    .pull-q {
        float: left;
        position: relative;
        top: 15px;
        right: 15px;
        color: @pink;
    }

    .row {
        margin: 0;
    }

    .second-row {
        margin-left: -20px;
        margin-right: -20px;
    }

    color: @dark-gray;

    .button {
        padding: 5px;
    }

    .likes {
        background-color: @pink;
        color: @yellow;
    }

    .comments {
        background-color: @teal;
        color: @pink;
    }

    .chat {
        background-color: @dark-gray;
        color: @yellow;
        font-family: @font-family-serif;
        text-align: right;
    }
}
