@import "bootstrap/bootstrap.less";
@import (inline) "normalize-opentype.css";

* {
    -webkit-font-smoothing: antialiased;
}

.profile-page {
    background-color: @light-gray;

    label {
        color: white;
    }

    .btn-submit {
        background-color: @dark-gray;
        color: @yellow;
        font-family: @font-family-serif;
    }
}

.mentor-switch {
    background-color: @teal;

    .avatar {
        max-width: 150px;
        width: 60%;
        border-radius: 100%;
    }

    .switch-pane {
        text-align: center;
    }
}
