<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/images/twitter_profil_152x152-01.png" />
    <link rel="apple-touch-icon" href="/images/twitter_profil_152x152-01.png">
    <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <%- css('style') %>
    <%- js('main') %>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body class="<%= pageClass %>  {{pageClass}}">
