<form>
    <div class="form-group">
        <label for="displayName">Display Name *</label>
        <input type="text" class="form-control" id="displayName" placeholder="Display Name" value="<%= user.displayName %>">
    </div>
</form>
