<%- include _header.ejs %>
<div class="container background-image">
    <div class="col-sm-6 col-sm-offset-3">
        <a href="/login/twitter" class="login-button"><h3>log in with <i class="fa fa-twitter"></i></h3></a>
    </div>
</div>
<%- include _footer.ejs %>
