<%- include _header.ejs %>
<%- include _nav.ejs %>
<div class="container">
    <div class="row row--first">
        <div class="col-sm-12">
            <h3>Q-munnity</h3>
            <em>mentor with your Q's, A's and tips</em>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="people-card">
                <div class="row">
                    <div class="media">
                        <img src="/images/avatar.png" alt="" class="media-object pull-left">
                        <h4 class="pull-q">Q</h4>
                        <div class="media-body">
                            <h4 class="media-heading">jkap</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ut earum obcaecati, exercitationem omnis quo, expedita possimus modi amet.</p>
                        </div>
                    </div>
                </div>
                <div class="row second-row">
                    <div class="col-xs-3 likes button">
                        2 <i class="fa fa-thumbs-up"></i>
                    </div>
                    <div class="col-xs-3 comments button">
                        8 <i class="fa fa-comment"></i>
                    </div>
                    <div class="col-xs-6 chat button">
                        answer <i class="fa fa-angle-right"></i>
                    </div>
                </div>
            </div>
            <div class="tip-card">
                <div class="row">
                    <div class="media">
                        <div class="media-object pull-left">
                            <h1><i class="fa fa-check-circle"></i></h1>
                            <h3>tip:</h3>
                        </div>
                        <div class="media-body">
                            <p>Spend five minutes before a big presentation “power-posing” in a bathroom stall (confident poses lower stress hormones) <a href="http://youtu.be/z3U0udLH974">http://youtu.be/z3U0udLH974</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row second-row">
                    <div class="col-xs-6 likes button">
                        ditto <i class="fa fa-thumbs-up"></i> 2
                    </div>
                    <div class="col-xs-6 share button">
                        share <i class="fa fa-share"></i> 7
                    </div>
                </div>
            </div>
            <div class="people-card">
                <div class="row">
                    <div class="media">
                        <img src="/images/avatar.png" alt="" class="media-object pull-left">
                        <h4 class="pull-q">Q</h4>
                        <div class="media-body">
                            <h4 class="media-heading">jkap</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ut earum obcaecati, exercitationem omnis quo, expedita possimus modi amet.</p>
                        </div>
                    </div>
                </div>
                <div class="row second-row">
                    <div class="col-xs-3 likes button">
                        2 <i class="fa fa-thumbs-up"></i>
                    </div>
                    <div class="col-xs-3 comments button">
                        8 <i class="fa fa-comment"></i>
                    </div>
                    <div class="col-xs-6 chat button">
                        answer <i class="fa fa-angle-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid action-buttons">
    <div class="row">
        <div class="col-xs-6 ask-q button">
            <h3>ask a Q</h3>
        </div>
        <div class="col-xs-6 give-tip button">
            <h3>give a tip</h3>
        </div>
    </div>
</div>
<%- include _footer.ejs %>
